                 【江湖风云】游戏规则

    【夕阳再现之江湖风云】是建立在【东方故事Ⅱ】mudlib上的
一个MUD，我们的目的是为广大在 gnet，Internet上玩的、能够读写
汉字的朋友们提供一个消遣时间，谈天说地的地方。当然，就象其他
的MUD一样，我们需要一套规则来保证游戏能够正常运行，玩家们能
玩的高兴。不愿意遵守以下规则的朋友请勿加入本游戏，谢谢。


    ▲ 禁止无故骚扰别人。
          
    ▲ 禁止骚扰玩家的机器人，情节严重者抓到杀档案。(本条无须
       警告!)
    
    ▲ 禁止将人物和他人共用，屡劝不听者抓到杀档案。
       
    ▲ 在公用频道上一次贴出太多的TEXT是件不礼貌的事, 初犯
       者口头警告一次，再犯的话送监狱管训。    
    
    ○ 严禁使用全自动或半自动程序骚扰其他玩家。
       
    ● 严禁玩家使用BUG牟利，发现一律严惩。
       以上条例处理方法如下:
       1.(处理:将捣乱玩家全线关入监狱，巫师协会保留永久处理方
       式)
    
       2.(处理:按情节轻重处理:处理方法包括;口头警告、关入监狱
       (指一条线的所有Player、杀档(指其作弊玩家及违反条例者)、
       封闭IP(封IP 例:100.100.100.100 Ip 巫师的封闭方法为封: 
       100.100.100.*))。
    
    ● 允许使用半自动或全自动机器人练功。
    
    ● 对任何影响游戏进程的BUG，玩家有及时举报的义务。
    
    ● 巫师对玩家密码不做保管，请各玩家自己保管好自己的密码！
       巫师不可以帮任何玩家更改其密码。
    
    ● 玩家有监督、举报wizard作弊的权利。

    ○ 严禁在Mud内任何频道以及 BOARD内post违反网络有关法律法规
       的语言以及进行人身攻击；任何玩家有责任保护本MUD的健康讨
       论环境：只要有确实证据，本MUD将按照IP进行杀档（情节严重
       者巫师向其玩家所在地网络安全管理部门提出申请处理)属于网
       吧多线登录的，立即关闭网吧多线进入的权利。
    
    ○ 严禁使用非汉字的字符起名。
       (处理：口头警告玩家改名、若其玩家不原改名，巫师可以采取杀
       档、和强迫其改名等方法。) 
    

    ☆ 所有巫师除了必须遵守以上规则外，还要遵守 WIZRULES。 

   【巫师协会】      保留对犯规行为采取任何处理办法的权利。


                                   By wyz 修改于
                               二零零零年四月二十二日

